{% extends "base.html" %}
{% block content %}
<main>
    <article>
        <h1>{{ pagevar.title }}</h1>
        {{ pagevar.content | safe }}
    </article>
</main>
<footer>
    <a href="{{ config.base_url }}/more#Terms_of_Use">&copy;&nbsp;2025</a>&nbsp;<a href="{{ config.base_url }}/about">{{ config.author }}</a> &middot;
    <a rel="noopener nofollow noreferrer" href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a> &middot;
    <a rel="noopener nofollow noreferrer" href="https://github.com/ekunazanu/ekunazanu.foo" target="_blank">Source</a>
</footer>
{% endblock content %}
