{% extends "base.html" %}
{% block content %}
<main>
    <article>
        <h1>{{ pagevar.title }}</h1>
        {{ pagevar.content | safe }}
    </article>
</main>
<footer>
    <a href="{{ config.base_url }}/more#Terms_of_Use">&copy;&nbsp;2026</a>&nbsp;<a href="{{ config.base_url }}/about">{{ config.author }}</a> &middot;
    <a target="_blank" rel="noopener nofollow noreferrer" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> &middot;
    <a target="_blank" rel="noopener nofollow noreferrer" href="https://github.com/ekunazanu/ekunazanu.foo">Source</a> &middot;
    <a target="_blank" rel="noopener nofollow noreferrer" href="https://ko-fi.com/ekunazanu">Support</a>
</footer>
{% endblock content %}
